:root {
  --main-font: "Sora", sans-serif;
  --background-color: #7764c4;
  --text-color-main: #fff;
  --text-color-secondary: #000;

  --main-radius: 1.5rem;
  
  --donate-section-width: 30rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color-main);
  background-color: var(--background-color);
  height: 100vh;
  overflow: hidden;
}

section {
  padding: 1rem 2rem;
  background-color: white;
  border-radius: var(--main-radius);
  color: var(--text-color-secondary);
  margin: 3rem;
  overflow: hidden;
  max-height: 16rem;
  max-width: 30rem;
  cursor: pointer;
  transition: max-height 0.5s ease-in-out;
  border: 8px solid white;
}

.active {
  max-height: 38rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  /* margin: 1rem 0rem 0rem 0rem; */
  text-transform: uppercase;
}

h3:after {
  content: "";
  display: block;
  width: 120%;
  margin-left: -10%;
  height: 1px;
  background-color: black;
  margin: 1rem 0rem 1rem -10%;
}

li {
  list-style: none;
  margin: 0.5rem 0rem;
}

li > span {
  display: inline-block;
  font-weight: 600;
}

li > span:nth-of-type(1) {
  width: 80%;
}

li > span:nth-of-type(2) {
  width: 20%;
  text-align: right;
}